@import './base.css';

@font-face {
    font-family: "Larken-Medium";
    src:
    url("@/../../public/fonts/Larken/LarkenDEMO-Medium.otf") format("opentype");
}

#app {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout-container {
    margin: 40px 80px;
}

.layout-container-bis {
    margin: 0 80px;
}

@media screen and (max-width: 1200px) {
    .layout-container {
        margin: 20px 40px;
    }

    .layout-container-bis {
    margin: 0 40px;
}
}

@media screen and (max-width: 800px) {
    .layout-container {
        margin: 20px 10px;
    }

    .layout-container-bis {
        margin: 0 10px;
    }
}